html {
  box-sizing: border-box;
  background-color: #F1F1F1;
  --color-black: #000;
  --color-1: #F0BF5F;
  --color-2: #CC9933;
  --color-white: #fff;
  --color-gray: #999;
  --color-3: #A47312;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
100	Thin (Hairline)
200	Extra Light (Ultra Light)
300	Light
400	Normal (Regular)
500	Medium
600	Semi Bold (Demi Bold)
700	Bold
800	Extra Bold (Ultra Bold)
900	Black (Heavy)
950	Extra Black (Ultra Black)
*/
@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"), url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"), url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"), url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"), url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

body {
  min-width: 1170px;
  font-family: "Muller", sans-serif;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-2);
  border: 1px solid var(--color-2);
  border-radius: 10px;
  background-color: transparent;
  transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
}
.btn:focus {
  color: var(--color-white);
  background: var(--color-2);
}
.btn:hover {
  color: var(--color-white);
  background: var(--color-2);
}
.btn:active {
  color: var(--color-white);
  background: var(--color-3);
}

.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-2);
  transition: color 0.5s ease-in-out, outline-offset 0.5s ease-in-out, outline 0.5s ease-in-out;
}
.tel:focus {
  color: var(--color-2);
  outline: 1px solid var(--color-2);
  outline-offset: 5px;
}
.tel:hover {
  outline: none;
  outline-offset: 0;
  color: var(--color-1);
}
.tel:active {
  color: var(--color-3);
}

/*header*/
.header {
  margin: 0;
  padding: 30px 0 0 0;
  margin-bottom: 70px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  margin: 0;
  margin-right: 40px;
}

.header__tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
  transition: color 0.5s ease-in-out, outline-offset 0.5s ease-in-out, outline 0.5s ease-in-out;
}
.header__tel:focus {
  color: var(--color-2);
  outline: 1px solid var(--color-2);
  outline-offset: 5px;
}
.header__tel:hover {
  outline: none;
  color: var(--color-2);
  outline-offset: 0;
}
.header__tel:active {
  color: var(--color-3);
}

.reg {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-2);
  transition: color 0.5s ease-in-out, outline-offset 0.5s ease-in-out, outline 0.5s ease-in-out;
}
.reg:focus {
  color: var(--color-2);
  outline: 1px solid var(--color-2);
  outline-offset: 5px;
}
.reg:hover {
  outline: none;
  outline-offset: 0;
  color: var(--color-1);
}
.reg:active {
  color: var(--color-3);
}

.reg__svg {
  fill: var(--color-2);
  transition: fill 0.5s ease-in-out;
}
.reg:focus > svg {
  fill: var(--color-2);
}
.reg:hover > svg {
  fill: var(--color-1);
}
.reg:active > svg {
  fill: var(--color-3);
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 14px 45px;
  background-color: var(--color-white);
  border-radius: 15px;
}

.menu__ul {
  flex-wrap: nowrap;
}

.menu__li:not(:last-child) {
  margin-right: 45px;
}

.menu__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  transition: color 0.5s ease-in-out, outline-offset 0.5s ease-in-out, outline 0.5s ease-in-out;
}
.menu__link:focus {
  color: var(--color-2);
  outline: 1px solid var(--color-2);
  outline-offset: 5px;
}
.menu__link:hover {
  outline: none;
  outline-offset: 0;
  color: var(--color-2);
}
.menu__link:active {
  color: var(--color-3);
}

.header__button {
  display: flex;
}

.header__btn {
  margin: 0;
  margin-right: 40px;
  padding: 13px 20px;
}

.header__btn:last-child {
  margin-right: 0;
}

/*main*/
.invisible {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  padding: 0;
}

/*offers*/
.offers {
  margin: 0;
  margin-bottom: 70px;
}

.title {
  margin: 0;
  padding-left: 40px;
  margin-bottom: 20px;
}

.offers__flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.offers__column {
  display: flex;
  flex-direction: column;
}

.offers__container {
  display: flex;
  justify-content: flex-end;
  width: 573px;
  transition: outline-offset 0.5s ease-in-out;
}
.offers__container:focus {
  outline: 1px solid var(--color-2);
  outline-offset: 8px;
}
.offers__container:hover {
  outline: none;
  outline-offset: 0;
}
.offers__container:hover .article__link {
  padding-right: 30px;
}
.offers__container:active .article__link {
  padding-right: 20px;
  color: var(--color-white);
}

.offers__container:not(:nth-child(2n)) {
  margin-right: 24px;
  margin-bottom: 24px;
}

.offers__container:last-child {
  margin-bottom: 0;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 573px;
  min-height: 258px;
  padding: 40px 45px;
  background-color: var(--color-black);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.article_island {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/offer-1.jpg);
}

.article_tour {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/offer-2.jpg");
}

.article_number {
  background-image: url("../img/offer-3.jpg");
}

.article__title {
  margin: 0;
  margin-bottom: 15px;
  max-width: 420px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--color-white);
}

.article__title_right {
  max-width: 299px;
  font-size: 60px;
  line-height: 60px;
}

.article__descr {
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);
  opacity: 0.8;
}

.article__descr_right {
  font-size: 30px;
  line-height: 30px;
}

.article__link {
  display: flex;
  align-self: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-1);
  padding-right: 20px;
  background-image: url("../img/arrow-2.svg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 16px 16px;
  transition: color 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/*about-us*/
.aboutus {
  margin-bottom: 70px;
}

.aboutus__text {
  margin: 0;
  max-width: 888px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-black);
}

/*services*/
.services {
  margin-bottom: 70px;
}

.services__li {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-basis: 573px;
  padding: 191px 45px 35px 45px;
  margin-bottom: 24px;
  background-color: var(--color-white);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  border-radius: 15px;
  transition: outline-offset 0.5s ease-in-out;
}
.services__li::after {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  outline: 1px solid var(--color-2);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.services__li:focus::after {
  opacity: 1;
}
.services__li:hover::after {
  opacity: 0;
}

.services__li:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services__li:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.services__li_exclusive {
  background-image: url("../img/serv-1.png");
}

.services__li_rent {
  background-image: url("../img/serv-2.png");
}

.services__li_pool {
  background-image: url("../img/serv-3.png");
}

.services__li_parking {
  background-image: url("../img/serv-4.png");
}

.services__link {
  display: flex;
  align-self: flex-start;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--color-2);
}

.services__subtitle {
  margin: 0;
  margin-right: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  transition: margin-right 0.5s ease-in-out, color 0.5s ease-in-out;
}
.services__li:hover .services__subtitle {
  margin-right: 18px;
  color: var(--color-1);
}
.services__li:active .services__subtitle {
  margin-right: 8px;
  color: var(--color-3);
}

.services__svg {
  display: flex;
  align-self: center;
  stroke: var(--color-2);
  transition: stroke 0.5s ease-in-out;
}
.services__li:hover .services__svg {
  stroke: var(--color-1);
}
.services__li:active .services__svg {
  stroke: var(--color-3);
}

.services__descr {
  max-width: 402px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-black);
}

/*advantages*/
.advantages {
  margin-bottom: 70px;
}

.advantages__li {
  flex-basis: 276px;
  margin-right: 22px;
  margin-bottom: 22px;
  padding: 116px 42px 32px 45px;
  background-color: var(--color-white);
  border-radius: 15px;
  background-position: 45px 15%;
  background-repeat: no-repeat;
  background-size: 25%;
}

.advantages__li:nth-child(4n) {
  margin-right: 0;
}

.advantages__li:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.advantages__li_bathtub {
  background-image: url("../img/bathtub.svg");
}

.advantages__li_hanger {
  background-image: url("../img/hanger.svg");
}

.advantages__li_heating {
  background-image: url("../img/heating.svg");
}

.advantages__li_key {
  background-image: url("../img/hotel-key.svg");
}

.advantages__li_parking {
  background-image: url("../img/parking.svg");
}

.advantages__li_reception {
  background-image: url("../img/reception.svg");
}

.advantages__li_security {
  background-image: url("../img/security-box.svg");
}

.advantages__li_pool {
  background-image: url("../img/swimming-pool.svg");
}

.advantages__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-black);
}

/*placing*/
.placing {
  margin-bottom: 70px;
}

.article_placing {
  flex-basis: 374px;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: var(--color-white);
  border-radius: 15px;
}

.article_placing:not(:nth-child(2n)) {
  margin-right: 0;
  margin-bottom: 0;
}

.placing__li {
  flex-basis: 374px;
  margin-right: 24px;
  margin-bottom: 24px;
  background-color: var(--color-white);
  border-radius: 15px;
}

.placing__li:nth-child(3n) {
  margin-right: 0;
}

.placing__li:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.article__container {
  display: flex;
  flex-direction: column;
  padding: 32px 45px 45px 45px;
}

.article__flex {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
}

.article__from {
  margin-right: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-gray);
}

.article__price {
  margin-right: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-black);
}

.article__night {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-black);
}

.article__subtitle {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-black);
}

.article__country {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-gray);
}

.article__btn {
  margin-right: auto;
  padding: 13px 20px
}

.placing__li_flex {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  padding: 27px 45px;
  background-color: var(--color-black);
  background-image: url("../img/landscape.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.placing__more {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--color-white);
  padding-right: 20px;
  background-image: url("../img/arrow-2-white.svg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 16px 16px;
}

.placing__more::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 15px;
}

/*wanttour*/
.wanttour {
  margin-bottom: 70px;
}

.wanttour__container {
  padding: 45px;
  padding-left: 40px;
  background: #E9E9E9;
  border-radius: 15px;
}

.wanttour__title {
  padding: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: var(--color-black);
}

.form {
  padding: 32px 28px;
  margin-left: 5px;
  background: var(--color-white);
  border-radius: 15px;
}

.form__fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__label {
  display: flex;
  flex-direction: column;
}

.form__descr {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-black);
}

.form__select {
  max-width: 170px;
  border: none;
  appearance: none;
  background: url("../img/arrow-select.png") no-repeat right center/5%;
}

.form__date {
  min-width: 120px;
  border: none;
}

.form__number {
  width: 120px;
  border: none;
  border-bottom: 1px solid #E9E9E9;
}

.form__btn {
  padding: 13px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

/*contacts*/
.contacts {
  margin-bottom: 40px;
}

.contacts__container {
  padding: 45px;
  background: var(--color-white);
  border-radius: 15px;
}

.contacts__flex {
  display: flex;
  justify-content: space-between;
}

.contacts__flexcolumn {
  display: flex;
  flex-direction: column;
}

.contacts__background {
  max-width: 653px;
  object-fit: cover;
  border-radius: 10px;
}

.contacts__ul {
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 368px;
}

.contacts__li {
  display: flex;
  padding-bottom: 23px;
  border-bottom: 1px solid #E9E9E9;
}

.contacts__li:not(:last-child) {
  margin-bottom: 25px;
}

.contacts__li:last-child {
  margin-bottom: 45px;
}

.contacts__title {
  margin: 0;
  min-width: 145px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-black);
}

.contacts__btn {
  margin-right: auto;
  padding: 27px 29.5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.contacts__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-black);
}

.tel__flex {
  display: flex;
  flex-direction: column;
}

.mail__flex {
  display: flex;
  flex-direction: column;
}

.mail__container {
  display: block;
}

.mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-2);
  transition: color 0.5s ease-in-out, outline-offset 0.5s ease-in-out, outline 0.5s ease-in-out;
}
.mail:focus {
  color: var(--color-2);
  outline: 1px solid var(--color-2);
  outline-offset: 5px;
}
.mail:hover {
  outline: none;
  outline-offset: 0;
  color: var(--color-1);
}
.mail:active {
  color: var(--color-3);
}

.mail__span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-gray);
}

/*footer*/
.footer {
  margin-bottom: 30px;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
  padding: 45px;
  background: url("../img/logo-big.svg") no-repeat 80% 100%/22%, #333333;
  border-radius: 15px;
}

.footer__left {
  display: flex;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: var(--color-white);
}

.footer__container {
  display: block;
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-2);
  transition: color 0.5s ease-in-out, outline-offset 0.5s ease-in-out, outline 0.5s ease-in-out;
}
.footer__link:focus {
  color: var(--color-2);
  outline: 1px solid var(--color-2);
  outline-offset: 5px;
}
.footer__link:hover {
  outline: none;
  outline-offset: 0;
  color: var(--color-1);
}
.footer__link:active {
  color: var(--color-3);
}

.footer__column_left {
  margin-right: 125px;
  max-width: 302px;
}

.footer__descr_copyright {
  margin-bottom: 37px;
}

.footer__descr_info {
  margin-bottom: 40px;
}

.footer__descr_adress {
  margin-bottom: 15px;
}

.footer__container_margin {
  margin-bottom: 15px;
}

.footer__icon {
  margin-bottom: 20px;
}

.footer__svg {
  fill: var(--color-gray);
  transition: fill 0.5s ease-in-out;
}
.footer__svg:focus {
  fill: var(--color-2);
}
.footer__svg:hover {
  fill: var(--color-2);
}
.footer__svg:active {
  fill: var(--color-3);
}
